/*

Reset!

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Main stuff
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.main-part {
	clear: both;
}
body {
	font: 300 13px/20px Arial, sans-serif;
}
.main-part {
    margin: 110px auto;
    width: 960px;
    text-align: center;
	padding-top: 130px;
}
.logo {
	padding: 90px 0 30px 0;
	background: url("logo.png") 50% 50% no-repeat;
}
form {
	margin: 0 auto;
}
form input {
	height: 40px;
	width: 600px;
	margin: 20px 0;
}
.lause {
	margin-top: 25px;
}
/*

         Navigation
		 
*/

.nav li {
	display: inline-block;
	margin: 15px 10px;
}
.primary-nav ul {
  margin-top: 10px;
  margin-right: 20px;
}
header {
	float: right;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.r:hover {
  text-decoration: none;
}
.rightfooternav {
	float: right;
	margin-right: 20px;
}
.leftfooternav {
	float: left;
	margin-left: 20px;
}
footer .taust {
	height: 50px;
	background: #f2f2f2;
	border-top: 1px solid #ccc;
}
footer li {
	padding-bottom: 5 px;
}
/*

         Buttons
		 
*/
.btn {
	display: inline-block;
	border-radius: 1px;
  color: #787878;
  font-weight: 600;
  margin: 10px 2px 0 2px;
	background: #f2f2f2;
	padding: 8px 18px;
}
.btn:hover {
	text-decoration: none;
	padding: 7px 17px;
	border: 1px solid #c2c2c2;
	color: #2b2b2b;
}
.r {
  background: #3B8C07;
  padding: 8px 11px;
  color: white;
  border-radius: 50%;
}
